.switch-toggle.switch-candy, .switch-light.switch-candy > span {
  background-color: #5788d9;
}

/* Gender */

.switch-toggle input[value="Other"] {
    pointer-events: none;
    opacity: 0.5;
    border-color: #ffffff; /* Light Grey */
    color: #6c757d; /* Bootstrap secondary color */
}

.switch-toggle input[value="Other"]:checked {
    background-color: #6c757d; /* Bootstrap secondary background color */
    color: #fff; /* White text color */
    border-color: #6c757d;
}

.switch-toggle input[value="Male"]:checked  {
    background-color: #7091e6;
    color: #fff; /* White text color */
    border-color: white;
}

.switch-toggle input[value="Female"]:checked {
    background-color: #7091e6;
    color: #fff; /* White text color */
    border-color: white;
}

/* Hover effect for all labels */
.switch-toggle input + label:hover {
    background-color: rgba(0, 0, 0, 0.445); /* Transparent light blue */
    /* color: #7091e6; */
    border-color: white;
}


/* Yes and No */

.switch-toggle input[value="Yes"]:checked+label {
    background-color: green;
    color: #fff; /* White text color */
    border-color: white;
}

.switch-toggle input[value="No"]:checked+label {
    background-color: red;
    color: #fff; /* White text color */
    border-color: white;
}

.switch-toggle input[value="N/A"]:checked+label {
  background-color: rgb(134, 133, 133);
  color: #fff; /* White text color */
  border-color: white;
}

/* Hover effect for all labels */

.switch-toggle input[value="N/A"]:hover{
    background-color: rgba(108, 117, 125, 0.1); /* Transparent light grey */
    color: #6c757d;
    border-color: white;
}

.switch-toggle input[value="Yes"]:hover {
    background-color: rgba(0, 123, 255, 0.1); /* Transparent light blue */
    color: #7091e6;
    border-color: white;
}

.switch-toggle input[value="No"]:hover {
    background-color: rgba(255, 111, 97, 0.1); /* Transparent light red */
    color: #7091e6;
    border-color: white;
}

/* .switch-light.switch-candy span span, .switch-light.switch-candy input:checked ~ span span:first-child, .switch-toggle.switch-candy label {
  color: #fff;
  font-weight: bold;
  text-align: center;
  /* background-color: red; 
  text-shadow: 1px 1px 1px #191b1e;
/* } */ 